@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.lazy.loaded {
    @apply opacity-100;
}

body {
    @apply font-sans;
    font-weight: 400;
    font-style: normal;
}

[x-cloak] {
    display: none !important;
}
